{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block title %}XML 形式で追加{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/gate/admin/css/forms.css" />{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="/admin/">ホーム</a>
    &rsaquo; <a href="/museum">Museum</a>
    &rsaquo; <a href="/museum/servomotion/">モーション</a>
    &rsaquo; XML 形式で追加
  </div>
{% endblock %}

{% block content %}
  <h1>モーションを XML 形式で追加</h1>

  <div class="xml-upload">
    <form action="." method="post" id="obj-upload-form" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in xmlform %}
	<div class="object-field-line obj-upload">
	  {{ field.errors }}
	  {{ field.label_tag }} {{ field }}
	</div>
      {% endfor %}
      <input type="submit" name="save" value="ファイルをアップロード" />
    </form>
  </div>
{% endblock %}
